___

<a href='https://www.udemy.com/user/joseportilla/'><img src='https://github.com/XiaoSenZheng/Complete-Python-3-Bootcamp/blob/master/Pierian_Data_Logo.png?raw=1'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    z = 0
    if a%2==1 or b%2==1:
      if a > b:
        z = a
      else:
        z = b
    else:
      if a > b:
        z = b
      else:
        z = a
    return z

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [6]:
def animal_crackers(text):
    a = text.split()
    if a[0][0] == a[1][0]:
      return True
    else:
      return False

In [7]:
# Check
animal_crackers('Levelheaded Llama')

True

In [8]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [9]:
def makes_twenty(n1,n2):
    if n1 == 20 or n2 ==20:
      return True
    elif n1+n2 == 20:
      return True
    else:
      return False

In [10]:
# Check
makes_twenty(20,10)

True

In [11]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [15]:
def old_macdonald(name):
  c=""
  for i in range(len(name)):
      if i==0:
        c+=name[i].upper()
      elif i==3:
        c+=name[i].upper()
      else:
        c+=name[i]
  return c

In [16]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [57]:
def master_yoda(text):
    a = text.split()
    c = ""
    for i in range(len(a)):
      c+= a[len(a) - 1 - i] + " "
    print(c)

In [58]:
# Check
master_yoda('I am home')

home am I

In [51]:
# Check
master_yoda('We are ready')

ready
3
ready are We

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [59]:
def almost_there(n):
    if abs(n-100)<10:
      return True
    elif abs(n-200)<10:
      return True
    else:
      return False

In [60]:
# Check
almost_there(104)

True

In [61]:
# Check
almost_there(150)

False

In [62]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33:

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [77]:
def has_33(nums):
    b = 0
    for i in nums:

      if b == 3 and i ==3:
        return True
      b = i
    return False
    print(a)

In [78]:
# Check
has_33([1, 3, 3])

True

In [79]:
# Check
has_33([1, 3, 1, 3])

False

In [80]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [81]:
def paper_doll(text):
  c = ""
  for i in text:
      c += 3*i
  return c

In [82]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [83]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [93]:
def blackjack(*args):
    if sum(args) <= 21:
      return sum(args)
    elif sum(args)>21 and args[0]==11 or args[1]==11 or args[2]==11:
      return sum(args) -10
    elif sum(args) -10 > 21 or sum(args) > 21:
      return "BUST"

In [91]:
# Check
blackjack(5,6,7)

18

In [94]:
# Check
blackjack(9,9,9)

'BUST'

In [95]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [143]:
def summer_69(arr):

SyntaxError: ignored

In [144]:
# Check
summer_69([1, 3, 5])

0
0
0

9

In [145]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

0
0

IndexError: ignored

In [128]:
# Check
summer_69([2, 1, 6, 9, 11])

29

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [ ]:
def spy_game(nums):
    pass

In [ ]:
# Check
spy_game([1,2,4,0,0,7,5])

In [ ]:
# Check
spy_game([1,0,2,4,0,5,7])

In [ ]:
# Check
spy_game([1,7,2,0,4,5,0])

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):
    pass

In [ ]:
# Check
count_primes(100)

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!